<div id="protect-overlay" class="overlay" style="position:fixed;top:0;right:0;bottom:0;left:0;z-index:9999;background-color:#000;color:#fff;padding:10% 0;text-align:center;display:none">
    <form action="#" onsubmit="handleProtection(event)" class="mdc-theme--dark">
        <div class="mdc-textfield mdc-textfield--box" data-demo-no-auto-js="">
          <input type="password" class="mdc-textfield__input" id="password-protection-textfield-box" placeholder="Enter Password">
        </div>
        <input type="submit" value="Submit">
    </form>
</div>
<script>function handleProtection(e){e.preventDefault();var t="{{ config.extra.password }}";return document.getElementById("password-protection-textfield-box").value===atob(t)?(localStorage.setItem("pwd_atob",t),document.getElementById("protect-overlay").style.display="none"):alert("Wrong password!"),!1}!function(){var e="{{ config.extra.password }}";if(localStorage.getItem("pwd_atob")!==e){if(window.location.hash){var t=window.location.hash.slice(1);if(t==e||atob(e)==t)return console.log("match on  :"+e),localStorage.setItem("pwd_atob",e),document.getElementById("protect-overlay").style.display="none"}document.getElementById("protect-overlay").style.display=""}else document.getElementById("protect-overlay").style.display="none"}()</script>
